@model Lind.DDD.Web.Models.Product

@{
    ViewBag.Title = "商品详细";
}
@using (Html.BeginForm())
{ @Html.HiddenFor(i => i.Id)
    <input type="hidden" name="SaleCount" value="1" />
 
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Name)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Name)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Price)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Price)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.Discount)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Discount)
    </div>
    <div class="display-label">
        实际价格
    </div>
    <div class="display-field">
        <span style="color: green">@(Model.Price * Model.Discount / 100)</span>
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Description)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Description)
    </div>

    <div class="display-label">
        @Html.DisplayNameFor(model => model.CategoryId)
    </div>
    <div class="display-field">
        <span style="color: red">@Html.DisplayFor(model => model.Category.Name)</span>
    </div>
    <div class="display-label">
        可用余额(注，本余额只能用来消费，不能提现)
    </div>
    <div class="display-field">
        <span style="color: red; font-size: 14px; font-weight: bold">
            @ViewBag.Money
        </span>大叔币（1大叔币在大叔商城折合1人民币）,您还需要再支付<span style="color: red; font-size: 14px; font-weight: bold">@(Model.Price-Convert.ToDecimal(ViewBag.Money))</span>元
    </div>
    <div class="display-field">
        <button>确认下单</button>
    </div>
}